<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org" th:lang="${lang}" th:with="lang=${#locale.language},subtitle=#{contrib.title},description=#{contrib.description},activeTab='contrib'">

	<head th:replace="layout/header :: header"> </head>

	<body>

		<div class="container">

			<nav th:replace="layout/navigation :: navigation"> </nav>

			<div th:if="${hasInput}">
				<div th:if="${captchaValid}">
					<div class="alert alert-success" role="alert" th:if="${messageSent}" th:text="#{contrib.form.sent}"> </div>
					<div class="alert alert-danger" role="alert" th:text="#{contrib.send.error}" th:unless="${messageSent}"> </div>
				</div>
				<div class="alert alert-warning" role="alert" th:text="#{contrib.captcha.invalid}" th:unless="${captchaValid}"> </div>
			</div>

			<h1 th:text="#{contrib.title}"> </h1>

			<p th:text="#{contrib.info}"> </p>

			<form th:replace="views/contrib/form :: contribForm"> </form>

			<footer th:replace="layout/footer :: footer"> </footer>

		</div>

		<div th:replace="layout/footer :: scripts"> </div>

	</body>

</html>
