<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<body>

		<section class="card mb-3" th:fragment="apps">
			<h2 class="card-header" th:text="#{download.apps.hunnor}"> </h2>
			<div class="card-body">
				<h3 th:text="#{download.open.source}"> </h3>
				<p th:text="#{download.open.source.sub}"> </p>
				<p>
					<a href="https://play.google.com/store/apps/details?id=net.hunnor.dict.android">
						<img alt="Android app on Google Play" class="app-store-icon" src="/img/google.play.hu.png" th:if="${lang == 'hu'}" th:src="@{/img/google.play.hu.png}"/>
						<img alt="Android app on Google Play" class="app-store-icon" src="/img/google.play.nb.png" th:if="${lang == 'nb'}" th:src="@{/img/google.play.nb.png}"/>
					</a>
				</p>
				<h3 th:text="#{download.proprietary.apps.ovitas}"> </h3>
				<p th:text="#{download.proprietary.apps.ovitas.sub}"> </p>
				<p>
					<a href="https://play.google.com/store/apps/details?id=net.hunnor.dict.mobileapp">
						<img alt="Android app on Google Play" class="app-store-icon" src="/img/google.play.hu.png" th:if="${lang == 'hu'}" th:src="@{/img/google.play.hu.png}"/>
						<img alt="Android app on Google Play" class="app-store-icon" src="/img/google.play.nb.png" th:if="${lang == 'nb'}" th:src="@{/img/google.play.nb.png}"/>
					</a>
				</p>
				<p>
					<a href="https://itunes.apple.com/us/app/hunnor/id1305770091">
						<img alt="iOS app on the App Store" class="app-store-icon" src="/img/app.store.hu.png" th:if="${lang == 'hu'}" th:src="@{/img/app.store.hu.png}"/>
						<img alt="iOS app on the App Store" class="app-store-icon" src="/img/app.store.nb.png" th:if="${lang == 'nb'}" th:src="@{/img/app.store.nb.png}"/>
					</a>
				</p>
			</div>
		</section>

	</body>

</html>
