<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<body>

		<section class="card mb-3" th:fragment="ebook">
			<div class="card-header collapsed" data-target="#ebook" data-toggle="collapse">
				<h2>
					<a class="link-hidden" href="#ebook" onclick="return false;">
						<span class="fas fa-tablet-alt mr-2"> </span>
						<span class="card-title" th:text="#{download.ebook.title}"> </span>
						<span class="card-indicator fa"> </span>
					</a>
				</h2>
			</div>
			<div class="card-body collapse" id="ebook">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th th:text="#{download.device}"> </th>
								<th th:text="#{download.data.files}"> </th>
								<th th:text="#{download.documentation}"> </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="platform" th:text="#{download.kindle.touch}"> </td>
								<td>
									<p>
										<a class="link-normal" href="" th:href="${@environment.getProperty('net.hunnor.dict.client.download.kindle.nh')}" th:text="#{download.kindle.touch} + ' ' + #{download.norwegian.hungarian}"> </a>
									</p>
								</td>
								<td>
									<p>
										<a class="install-instructions" href="" th:href="${@environment.getProperty('net.hunnor.dict.client.download.manual.kindle')}" th:text="#{download.installation.instructions}"> </a>
									</p>
								</td>
							</tr>
							<tr>
								<td class="platform" th:text="#{download.pocketbook}"> </td>
								<td>
									<p>
										<a class="link-normal" href="" th:href="${@environment.getProperty('net.hunnor.dict.client.download.pocketbook.nh')}" th:text="#{download.pocketbook} + ' ' + #{download.norwegian.hungarian}"> </a>
									</p>
								</td>
								<td>
									<p>
										<a class="install-instructions" href="" th:href="${@environment.getProperty('net.hunnor.dict.client.download.manual.pocketbook')}" th:text="#{download.installation.instructions}"> </a>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>

	</body>

</html>
