<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org" th:lang="${lang}" th:with="lang=${#locale.language},subtitle=#{download.title},description=#{download.description},activeTab='download'">

	<head th:replace="layout/header :: header"> </head>

	<body>

		<div class="container">

			<header>
				<nav th:replace="layout/navigation :: navigation"> </nav>
			</header>

			<main>

				<h1 class="mb-5" th:text="#{download.title}"> </h1>

				<section th:replace="views/download/android :: android"> </section>

				<section th:replace="views/download/ios :: ios"> </section>
				<section th:replace="views/download/macos :: macos"> </section>

				<section th:replace="views/download/windows :: windows"> </section>
				<section th:replace="views/download/wp :: wp"> </section>

				<section th:replace="views/download/ebook :: ebook"> </section>
				<section th:replace="views/download/pdf :: pdf"> </section>

			</main>

			<footer th:replace="layout/footer :: footer"> </footer>

		</div>

		<div th:replace="layout/footer :: scripts"> </div>

		<script type="text/javascript">

			$(document).ready(function() {

				var url = new URL(window.location.href);
				var sections = url.searchParams.getAll("section");

				sections.forEach(function(sectionId) {
					$("#" + sectionId).collapse("show");
				});

				if (sections.length == 1) {
					var sectionTitle = $("#section-" + sections[0]);
					if (sectionTitle.length > 0) {
						$("html, body").animate({
							scrollTop: sectionTitle.offset().top - 10
						}, 1000);
					}
				}

			});

		</script>

	</body>

</html>
