<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org" th:lang="${lang}" th:with="lang=${#locale.language},subtitle=#{download.title},description=#{download.description},activeTab='download'">

	<head th:replace="layout/header :: header"> </head>

	<body>

		<div class="container">

			<nav th:replace="layout/navigation :: navigation"> </nav>

			<h1 class="mb-5" th:text="#{download.title}"> </h1>

			<section th:replace="views/download/android"> </section>

			<section th:replace="views/download/ios"> </section>
			<section th:replace="views/download/macos"> </section>

			<section th:replace="views/download/windows"> </section>
			<section th:replace="views/download/wp"> </section>

			<section th:replace="views/download/ebook"> </section>
			<section th:replace="views/download/pdf"> </section>

			<footer th:replace="layout/footer :: footer"> </footer>

		</div>

		<div th:replace="layout/footer :: scripts"> </div>

		<script type="text/javascript">
			$(document).ready(function() {
				var url = new URL(window.location.href);
				var sectionId = url.searchParams.get("section");
				if (sectionId) {
					var sectionContent = $("#" + sectionId);
					if (sectionContent.length > 0) {
						sectionContent.collapse("show");
					}
					var sectionTitle = $("#section-" + sectionId);
					if (sectionTitle.length > 0) {
						$("html, body").animate({
							scrollTop: sectionTitle.offset().top - 10
						}, 1000);
					}
				}
			});
		</script>

	</body>

</html>
