<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<body>

		<section class="card mb-5" id="section-macos" th:fragment="macos">
			<div class="card-header collapsed" data-bs-target="#macos" data-bs-toggle="collapse">
				<h2>
					<a class="link-hidden" href="#macos" onclick="return false;">
						<span class="fab fa-apple me-2"> </span>
						<span class="card-title" th:text="#{download.macos.title}"> </span>
						<span class="card-indicator fa"> </span>
					</a>
				</h2>
			</div>
			<div class="card-body collapse" id="macos">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th th:text="#{download.recommended.app}"> </th>
								<th th:text="#{download.data.files}"> </th>
								<th th:text="#{download.documentation}"> </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<p>
										<img alt="Apple Dictionary" src="/img/app-apple.png" th:alt="#{download.apple}" th:src="@{/img/app-apple.png}"/>
										<a class="app-link link-normal"  href="https://support.apple.com/en-euro/guide/dictionary/welcome/mac" th:text="#{download.apple}"> </a>
									</p>
								</td>
								<td>
									<p>
										<a class="link-normal" href="" th:href="${@environment.getProperty('net.hunnor.dict.client.download.apple.hn')}" th:text="#{download.apple} + ' ' + #{download.hungarian.norwegian}"> </a>
										<br/>
										<a class="link-normal" href="" th:href="${@environment.getProperty('net.hunnor.dict.client.download.apple.nh')}" th:text="#{download.apple} + ' ' + #{download.norwegian.hungarian}"> </a>
									</p>
								</td>
								<td>
									<a class="install-instructions" href="" th:href="${@environment.getProperty('net.hunnor.dict.client.download.manual.apple')}" th:text="#{download.installation.instructions}"> </a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>

	</body>

</html>
