<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<body>

		<section class="card mb-3" id="section-pdf" th:fragment="pdf">
			<div class="card-header collapsed" data-bs-target="#pdf" data-bs-toggle="collapse">
				<h2>
					<a class="link-hidden" href="#pdf" onclick="return false;">
						<span class="fas fa-file-pdf me-2"> </span>
						<span class="card-title" th:text="#{download.pdf.title}"> </span>
						<span class="card-indicator fa"> </span>
					</a>
				</h2>
			</div>
			<div class="card-body collapse" id="pdf">
				<p th:if="${lang != 'nb'}">A PDF export 2026 január óta nem frissül.
                    Ha szükséged van rá, az <a class="link-normal" href="https://github.com/hunnor-dict/export-ant"><span class="badge bg-light text-dark border">export-ant</span></a> repository kódjával generálhatod az XML exportból.</p>
				<p th:if="${lang == 'nb'}">PDF-eksporten har ikke blitt oppdatert siden januar 2026. Hvis du trenger den, kan du generere den fra XML-eksporten med koden i <a class="link-normal" href="https://github.com/hunnor-dict/export-ant"><span class="badge bg-light text-dark border">export-ant</span></a>-repoet.</p>
			</div>
		</section>

	</body>

</html>
