<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<body>

		<section class="card mb-5" id="section-wp" th:fragment="wp">
			<div class="card-header collapsed" data-target="#wp" data-toggle="collapse">
				<h2>
					<a class="link-hidden" href="#wp" onclick="return false;">
						<span class="fab fa-windows mr-2"> </span>
						<span class="card-title" th:text="#{download.wp.title}"> </span>
						<span class="card-indicator fa"> </span>
					</a>
				</h2>
			</div>
			<div class="card-body collapse" id="wp">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th th:text="#{download.recommended.app}"> </th>
								<th th:text="#{download.data.files}"> </th>
								<th th:text="#{download.documentation}"> </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<p>
										<img src="/img/app-silverdict.png" th:src="@{/img/app-silverdict.png}"/>
										<a class="app-link link-normal"  href="http://www.windowsphone.com/en-us/store/app/silverdict/1f7a8b3a-081c-454e-a6a0-b41760e1dedc" th:text="#{download.silverdict}"> </a>
									</p>
								</td>
								<td>
									<p>
										<a class="link-normal" href="" th:href="${@environment.getProperty('net.hunnor.dict.client.download.stardict.wp.hn')}" th:text="#{download.stardict} + ' ' + #{download.wp} + ' ' + #{download.hungarian.norwegian}"> </a>
										<br/>
										<a class="link-normal" href="" th:href="${@environment.getProperty('net.hunnor.dict.client.download.stardict.wp.nh')}" th:text="#{download.stardict} + ' ' + #{download.wp} + ' ' + #{download.norwegian.hungarian}"> </a>
									</p>
								</td>
								<td>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>

	</body>

</html>
