<!DOCTYPE HTML>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

	<body>

		<div th:fragment="flags">
			<hr/>
			<div id="flags">
				<a class="flag" href="/?lang=hu"><img src="/img/flag.hu.png" th:src="@{/img/flag.hu.png}"/></a>
				<a class="flag" href="/?lang=nb"><img src="/img/flag.nb.png" th:src="@{/img/flag.nb.png}"/></a>
			</div>
		</div>

		<div th:fragment="scripts">

			<script src="/jquery-1.12.4/jquery.min.js" type="text/javascript"> </script>

			<script src="/jquery-ui-1.11.4/jquery-ui.min.js" type="text/javascript"> </script>

			<script src="/bootstrap-3.3.6/bootstrap.min.js" type="text/javascript"> </script>

			<script src="/ie10-viewport-bug-workaround.js" type="text/javascript"> </script>

			<script src="/google-analytics.js" type="text/javascript"> </script>

			<script src="/client.js" type="text/javascript"> </script>

		</div>	

	</body>

</html>
