<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<body>

		<div th:fragment="flags">
			<hr/>
			<div id="flags">
				<a class="flag" href="/?lang=hu" th:href="@{/?lang=hu}">
					<img src="/img/flag.hu.png" th:alt="#{page.flag.hu.alt}" th:src="@{/img/flag.hu.png}"/>
				</a>
				<a class="flag" href="/?lang=nb" th:href="@{/?lang=nb}">
					<img src="/img/flag.nb.png" th:alt="#{page.flag.nb.alt}" th:src="@{/img/flag.nb.png}"/>
				</a>
			</div>
		</div>

		<div th:fragment="scripts">

			<script src="/webjars/jquery/3.3.1-1/jquery.min.js" type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"> </script>

			<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js" type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"> </script>

			<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js" type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"> </script>

			<script src="/js/hunnor-web.min.js" type="text/javascript" th:src="@{/js/hunnor-web.min.js}"> </script>

		</div>

	</body>

</html>
