<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="header">
		<link href="/apple-touch-icon.png?v=bristolillustrator" rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png?v=bristolillustrator}"/>
		<link href="/favicon.ico?v=bristolillustrator" rel="shortcut icon" th:href="@{/favicon.ico?v=bristolillustrator}"/>
		<link href="/favicon-16x16.png?v=bristolillustrator" rel="icon" sizes="16x16" type="image/png" th:href="@{/favicon-16x16.png?v=bristolillustrator}"/>
		<link href="/favicon-32x32.png?v=bristolillustrator" rel="icon" sizes="32x32" type="image/png" th:href="@{/favicon-32x32.png?v=bristolillustrator}"/>
		<link href="/manifest.json?v=bristolillustrator" rel="manifest" th:href="@{/manifest.json?v=bristolillustrator}"/>
		<link color="#5bbad5" href="/safari-pinned-tab.svg?v=bristolillustrator" rel="mask-icon" th:href="@{/safari-pinned-tab.svg?v=bristolillustrator}"/>
		<link href="/opensearch.xml" rel="search" title="HunNor" type="application/opensearchdescription+xml" th:href="@{/opensearch.xml}"/>
		<link href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}"/>
		<link href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
		<link href="/webjars/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.0/css/all.min.css}"/>
		<link href="/css/hunnor-web.min.css" rel="stylesheet" type="text/css" th:href="@{/css/hunnor-web.min.css}"/>
		<meta charset="UTF-8"/>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
		<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
		<meta content="Ádám Z. Kövér adamzkover@gmail.com" name="author"/>
		<meta content="HunNor" name="description" th:attr="content=${description}"/>
		<meta content="50kFBadEr8IsV-PVPV7CaaVirAjUHm9ASbaVNHDu0d4" name="google-site-verification"/>
		<meta content="app-id=1305770091" name="apple-itunes-app"/>
		<meta content="#ffffff" name="theme-color"/>
		<script data-cbid="a807803c-5ca5-4bc6-9240-d2413b70f522" data-blockingmode="auto" id="Cookiebot" src="https://consent.cookiebot.com/uc.js" type="text/javascript"> </script>
		<script src="https://www.google.com/recaptcha/api.js?hl=hu" th:if="${hasCaptcha}" th:src="${'https://www.google.com/recaptcha/api.js?hl=' + lang}"> </script>
		<title th:text="${subtitle == null} ? #{page.title} : ${subtitle} + ' &mdash; ' + #{page.title}"> </title>
	</head>

</html>
