<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="header">

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="author" content="Ádám Z. Kövér adamzkover@gmail.com"/>
		<meta name="description" content="" th:attr="content=${description}"/>
		<meta name="google-site-verification" content="50kFBadEr8IsV-PVPV7CaaVirAjUHm9ASbaVNHDu0d4"/>
		<meta name="apple-itunes-app" content="app-id=1305770091"/>

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=bristolillustrator" th:href="@{/apple-touch-icon.png?v=bristolillustrator}"/>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=bristolillustrator" th:href="@{/favicon-32x32.png?v=bristolillustrator}"/>
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=bristolillustrator" th:href="@{/favicon-16x16.png?v=bristolillustrator}"/>
		<link rel="manifest" href="/manifest.json?v=bristolillustrator" th:href="@{/manifest.json?v=bristolillustrator}"/>
		<link rel="mask-icon" href="/safari-pinned-tab.svg?v=bristolillustrator" color="#5bbad5" th:href="@{/safari-pinned-tab.svg?v=bristolillustrator}"/>
		<link rel="shortcut icon" href="/favicon.ico?v=bristolillustrator" th:href="@{/favicon.ico?v=bristolillustrator}"/>
		<meta name="theme-color" content="#ffffff"/>

		<title th:text="#{page.title}" th:if="${subtitle == null}"> </title>
		<title th:text="${subtitle} + ' &mdash; ' + #{page.title}" th:if="${subtitle != null}"> </title>

		<link href="/opensearch.xml" rel="search" title="HunNor" type="application/opensearchdescription+xml" th:href="@{/opensearch.xml}"/>

		<link href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}"/>
		<link href="/webjars/jquery-ui/1.12.1/jquery-ui.structure.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.structure.min.css}"/>
		<link href="/webjars/jquery-ui/1.12.1/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.theme.min.css}"/>

		<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
		<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}"/>

		<link href="/css/hunnor-web.min.css" rel="stylesheet" type="text/css" th:href="@{/css/hunnor-web.min.css}"/>

		<script src="https://www.google.com/recaptcha/api.js?hl=hu" th:src="${'https://www.google.com/recaptcha/api.js?hl=' + lang}" th:if="${hasCaptcha}"> </script>

	</head>

</html>
