<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="header">

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="author" content="Ádám Z. Kövér adamzkover@gmail.com"/>
		<meta name="description" content="" th:attr="content=${description}"/>
		<meta name="google-site-verification" content="50kFBadEr8IsV-PVPV7CaaVirAjUHm9ASbaVNHDu0d4"/>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" th:href="@{/favicon.ico}"/>

		<title th:text="#{page.title}" th:if="${subtitle == null}"> </title>
		<title th:text="${subtitle} + ' &mdash; ' + #{page.title}" th:if="${subtitle != null}"> </title>

		<link href="/opensearch.xml" rel="search" title="HunNor" type="application/opensearchdescription+xml" th:href="@{/opensearch.xml}"/>

		<link href="/webjars/jquery-ui/1.11.4/jquery-ui.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.css}"/>
		<link href="/webjars/jquery-ui/1.11.4/jquery-ui.structure.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.structure.min.css}"/>
		<link href="/webjars/jquery-ui/1.11.4/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.theme.min.css}"/>

		<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
		<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}"/>

		<link href="/css/hunnor-web.min.css" rel="stylesheet" type="text/css" th:href="@{/css/hunnor-web.min.css}"/>

		<!--[if lt IE 9]>
			<script src="/webjars/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"> </script>
			<script src="/webjars/respond/1.4.2/dest/respond.min.js" type="text/javascript" th:src="@{/webjars/respond/1.4.2/dest/respond.min.js}"> </script>
		<![endif]-->

		<script src="https://www.google.com/recaptcha/api.js?hl=hu" th:src="${'https://www.google.com/recaptcha/api.js?hl=' + lang}" th:if="${hasCaptcha}"> </script>

	</head>

</html>
