<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<body>

		<form id="search-form" th:fragment="searchForm">

			<div class="jumbotron p-3">
				<div class="input-group">
					<input autocapitalize="none" class="form-control" id="search-term" name="term" type="search" th:attr="aria-label=#{search.field.label}" th:value="${term}"/>
					<div class="input-group-append">
						<button class="btn btn-secondary" id="search-delete" type="button" th:attr="aria-label=#{search.clear.button}">
							<span class="fas fa-ban"> </span>
						</button>
						<button class="btn btn-primary" id="search-submit" type="submit" th:attr="aria-label=#{search.submit.button}">
							<span class="d-md-none fas fa-search"> </span>
							<span class="d-none d-md-block" th:text="#{search.submit.button}"> </span>
						</button>
					</div>
				</div>
			</div>

			<div aria-label="" class="btn-group mb-3" role="group" th:attr="aria-label=#{search.insert.letters.hu}" th:with="letters = ${ {'á', 'é', 'í', 'ó', 'ö', 'ő', 'ú', 'ü', 'ű'} }">
				<button class="btn btn-outline-secondary btn-sm letter" type="button" th:attr="data-char=${letter}" th:each="letter: ${letters}" th:text="${letter}"> </button>
			</div>
			<div aria-label="" class="btn-group mb-3" role="group" th:attr="aria-label=#{search.insert.letters.nb}" th:with="letters = ${ {'æ', 'ø', 'å'} }">
				<button class="btn btn-outline-secondary btn-sm letter" type="button" th:attr="data-char=${letter}" th:each="letter: ${letters}" th:text="${letter}"> </button>
			</div>

			<div class="form-group">
				<select class="form-control" name="match">
					<option value="roots" th:selected="${match == null or match == '' or match == 'roots'}" th:text="#{search.match.roots}"> </option>
					<option value="forms" th:selected="${match == 'forms'}" th:text="#{search.match.forms}"> </option>
					<option value="full" th:selected="${match == 'full'}" th:text="#{search.match.full}"> </option>
				</select>
			</div>

		</form>

	</body>

</html>