<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="description=#{search.description}">

	<head th:replace="layout/header :: header">
	</head>

	<body>

		<div class="container">

			<nav th:replace="layout/navigation :: navigation">
			</nav>

			<div th:if="${term != null and responses == null}">
				<div class="alert alert-danger" role="alert" th:text="#{error.title}"> </div>
			</div>

			<div class="page-header" style="margin-top: 20px;">
				<h1 th:text="#{search.title}" style="font-size: 24px;"> </h1>
			</div>

			<form th:replace="views/search/form :: searchForm">
			</form>

			<div th:if="${responses != null}" th:with="totalResults = ${responses.get(hu).results.size() + responses.get(nb).results.size()}">
				<div th:if="${totalResults == 0}" th:with="totalSuggestions = ${responses.get(hu).suggestions.size() + responses.get(nb).suggestions.size()}">
					<div th:if="${totalSuggestions == 0}">
						<div th:replace="views/search/no-results :: noResults"> </div>
					</div>
					<div th:unless="${totalSuggestions == 0}">
						<div th:replace="views/search/suggestions :: searchSuggestions"> </div>
					</div>
				</div>
				<div th:unless="${totalResults == 0}">
					<div th:replace="views/search/results :: searchResults"> </div>
				</div>
			</div>

			<div th:replace="layout/footer :: flags"> </div>

		</div>

		<div th:replace="layout/footer :: scripts"> </div>

	</body>

</html>
