<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<body>

		<div class="alert alert-warning" role="alert" th:fragment="searchSuggestions">
			<p>
				<span th:utext="#{search.no.match(${term})}"> </span>
				<span th:text="#{search.suggestions}"> </span>
			</p>
			<p th:if="${responses.get(hu).suggestions.size() > 0}">
				<span class="flag-icon flag-icon-hu"> </span>
				<span th:each="suggestion, position: ${responses.get(hu).suggestions}">
					<a class="alert-link" th:href="@{/(term = ${suggestion})}" th:text="${suggestion}"></a><span th:unless="${position.last}">, </span>
				</span>
			</p>
			<p th:if="${responses.get(nb).suggestions.size() > 0}">
				<span class="flag-icon flag-icon-no"> </span>
				<span th:each="suggestion, position: ${responses.get(nb).suggestions}">
					<a class="alert-link" th:href="@{/(term = ${suggestion})}" th:text="${suggestion}"></a><span th:unless="${position.last}">, </span>
				</span>
			</p>
		</div>

	</body>

</html>
