a.link-normal, a.link-normal:active, a.link-normal:hover, a.link-normal:visited {
	color: #212529;
}

a.link-normal, a.link-normal:active, a.link-normal:visited {
	text-decoration: none;
}

a.link-normal:hover {
	text-decoration: underline;
}

a.link-hidden, a.link-hidden:active, a.link-hidden:hover, a.link-hidden:visited {
	color: #212529;
	text-decoration: none;
}

footer a, footer a:active, footer a:visited {
	color: #6c757d;
	text-decoration: none;
}

footer a:hover {
	color: #6c757d;
	text-decoration: underline;
}

.flag-icon {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	line-height: 1em;
	margin: 0 0.5rem;
	position: relative;
	width: 1.33333333em;
}

.flag-icon:before {
	content: "\00a0";
}

.flag-icon-hu {
	background-image: url(hu.svg);
}

.flag-icon-no {
	background-image: url(no.svg);
}
