a.install-instructions, a.install-instructions:active, a.install-instructions:hover, a.install-instructions:visited {
	color: red;
	font-weight: bold;
}

a.app-link, a.app-link:active, a.app-link:hover, a.app-link:visited {
	font-size: 120%;
	font-weight: bold;
}

img.app-store-icon {
	max-width: 200px;
}

td.platform {
	font-size: 120%;
	font-weight: bold;
}
