@media(prefers-color-scheme: dark) {
	a.link-normal, a.link-normal:active, a.link-normal:hover, a.link-normal:visited {
		color: var(--secondary);
	}
	a.link-hidden, a.link-hidden:active, a.link-hidden:hover, a.link-hidden:visited {
		color: var(--secondary);
		text-decoration: none;
	}
	footer a, footer a:active, footer a:hover, footer a:visited {
		color: var(--secondary);
	}
	span.orth span.hl {
		background-color: #32383e;
	}
}
